
<div class="container-fluid container-cards-pf" ng-controller="hwk.alertsController">

  <div class="row row-cards-pf" ng-hide="selectedTenant == null || selectedTenant == ''">

    <!-- Toolbar Datetime Range-->

    <div class="row toolbar-pf" ng-hide="selectedTenant == null || selectedTenant == ''">
      <div class="col-md-12">
        <form class="toolbar-pf-actions">
          <div class="form-group" ng-style="{'width':'40%'}">
            <div>Date Range</div>
            <div class="input-group input-daterange">
              <input id="start" type="date" class="form-control bootstrap-datepicker" ng-model="filter.start" ng-change="updateFilter()" readonly />
              <div class="input-group-addon">to</div>
              <input id="end" type="date" class="form-control  bootstrap-datepicker" ng-model="filter.end" ng-change="updateFilter()" readonly />
            </div>
          </div>
        </form>
      </div>
    </div>

    <!-- Toolbar Filters-->

    <div class="row toolbar-pf" id="toolbar">
      <div class="col-md-12">
        <form class="toolbar-pf-actions" ng-submit="updateFilter()">
          <div class="form-group toolbar-pf-filter" ng-style="{'width':'40%'}">
            <div class="input-group">
              <div class="input-group-btn">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Tag Query <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                  <li class="selected"><a href="#/alerts">Tag Query</a></li>
                </ul>
              </div>
              <input type="text" class="form-control" ng-model="filter.tagQuery" id="filter.tagQuery" placeholder="Filter By Tag Query..." />
            </div>
          </div>
          <div class="form-group toolbar-pf-filter">
            <label class="col-md-5 control-label" for="filter.severity">Severity:</label>
            <div class="input-group">
              <select class="btn btn-default combobox" id="filter.severity" ng-options="opt as opt for opt in filter.severityOptions" ng-model="filter.severity"
                ng-change="updateFilter()"></select>
            </div>
          </div>
          <div class="form-group toolbar-pf-filter">
            <label class="col-md-4 control-label" for="filter.status">Status:</label>
            <div class="input-group">
              <select class="btn btn-default combobox" id="filter.status" ng-options="opt as opt for opt in filter.statusOptions" ng-model="filter.status"
                ng-change="updateFilter()"></select>
            </div>
          </div>
          <div class="form-group">
            <div class="dropdown btn-group  dropdown-kebab-pf">
              <button class="btn btn-link dropdown-toggle" type="button" id="alertsKebab" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                <span class="fa fa-ellipsis-v"></span>
              </button>
              <ul class="dropdown-menu " aria-labelledby="alertsKebab">
                <li ng-click="newXXXModal()"><a>New XXX</a></li>
              </ul>
            </div>
          </div>
        </form>
      </div>
    </div>

    <!-- List of rows -->

    <div class="list-group list-view-pf list-view-pf-view">

      <!-- Full Row details-->

      <div class="list-group-item" ng-repeat="alertItem in alertsList" repeat-done>

        <!-- Action column found on the right of each row -->

        <div class="list-view-pf-checkbox">
          <input type="checkbox"/>
        </div>
        <div class="list-view-pf-actions">
          <!-- a button that can trigger the default action -->
          <!-- for open alerts, we show a button to ack; for acked alerts, show resolve button; for resolved alerts, show re-open button -->
          <button ng-click="ackAlert(alertItem.id)" ng-show="alertItem.status === 'OPEN'" class="btn btn-default">Acknowledge</button>
          <button ng-click="resolveAlert(alertItem.id)" ng-show="alertItem.status === 'ACKNOWLEDGE'" class="btn btn-default">Resolve</button>
          <button ng-click="reopenAlert(alertItem.id)" ng-show="alertItem.status === 'RESOLVED'" class="btn btn-default">Re-Open</button>
          <div class="dropdown pull-right dropdown-kebab-pf">
            <button class="btn btn-link dropdown-toggle" type="button" id="dropdownKebabRight1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
              <span class="fa fa-ellipsis-v"></span>
            </button>
            <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownKebabRight1">
              <li ng-show="alertItem.status === 'OPEN'"><a id="ack-alert-link" href ng-click="ackAlert(alertItem.id)">Acknowledge</a></li>
              <li ng-show="alertItem.status === 'ACKNOWLEDGE' || alertItem.status === 'OPEN'"><a id="resolve-alert-link" href ng-click="resolveAlert(alertItem.id)">Resolve</a></li>
              <li ng-show="alertItem.status === 'RESOLVED'"><a id="reopen-alert-link" href ng-click="reopenAlert(alertItem.id)">Re-Open</a></li>
              <li role="separator" class="divider"></li>
              <li><a id="delete-alert-link" href ng-click="deleteAlert(alertItem.id)">Delete</a></li>
            </ul>
          </div>
        </div>

        <!-- Main Row -->

        <div class="list-view-pf-main-info">

          <!-- Alert type icon (open/ack/resolved/event) -->
          <div class="list-view-pf-left">
            <span class="pficon pficon-error-circle-o" ng-show="alertItem.status === 'OPEN'"></span>
            <span class="pficon pficon-warning-triangle-o" ng-show="alertItem.status === 'ACKNOWLEDGED'"></span>
            <span class="pficon pficon-ok" ng-show="alertItem.status === 'RESOLVED'"></span>
            <!-- <span class="pficon pficon-topology"></span> <!-- event -->
          </div>

          <div class="list-view-pf-body">

            <div class="list-view-pf-description">
              <!-- Alert severity -->
              <div class="list-group-item-heading">
                {{ alertItem.severity }}
              </div>
              <!-- Text description - a brief summary -->
              <div class="list-group-item-text">
                {{ alertItem.ctime | date:'yyyy-MM-dd HH:mm:ss Z' }}
              </div>
            </div>

            <!-- Expandable sections -->

            <div class="list-view-pf-additional-info">

              <!-- Details -->
              <div class="list-view-pf-additional-info-item">
                <div class="list-view-pf-expand">
                  <span class="fa fa-angle-right"></span>
                  <span class="pficon pficon-info"></span>
                  Details
                </div>
              </div>

              <!-- Notes -->
              <div class="list-view-pf-additional-info-item">
                <div class="list-view-pf-expand">
                  <span class="fa fa-angle-right"></span>
                  <span class="fa fa-list-alt"></span>
                  <strong>{{ alertItem.notes ? alertItem.notes.length : 0 }}</strong> Notes
                </div>
              </div>

              <!-- Tags -->
              <div class="list-view-pf-additional-info-item">
                <div class="list-view-pf-expand">
                  <span class="fa fa-angle-right"></span>
                  <span class="pficon pficon-repository"></span>
                  <strong>{{ alertItem.tags ? alertItem.tags.length : 0 }}</strong> Tags
                </div>
              </div>

              <!-- Lifecycle -->
              <div class="list-view-pf-additional-info-item">
                <div class="list-view-pf-expand">
                  <span class="fa fa-angle-right"></span>
                  <span class="pficon pficon-project"></span>
                  <strong>{{ alertItem.lifecycle ? alertItem.lifecycle.length : 0 }}</strong> Lifecycle
                </div>
              </div>

              <!-- Condition evaluations -->
              <div class="list-view-pf-additional-info-item">
                <div class="list-view-pf-expand">
                  <span class="fa fa-angle-right"></span>
                  <span class="fa fa-tachometer"></span>
                  <strong>{{ alertItem.evalSets ? alertItem.evalSets.length : 0 }}</strong> Conditions
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- The expanded sections -->

        <!-- Details -->
        <div class="list-group-item-container container-fluid hidden">
          <div class="close">
            <span class="pficon pficon-close"></span>
          </div>

          <!-- category and main alert details -->
          <div class="row">
            <div class="col-md-12">
              <p>
                <b>Category:</b> {{ alertItem.category }}
                <br/>
                <b>Data ID:</b> {{ alertItem.dataId }}
                <br/>
                <b>Alert Text:</b>
                {{ alertItem.text }}
              </p>
            </div>
          </div>

          <!-- notes from users -->
          <div class="row" ng-repeat="note in alertItem.notes">
            <div class="col-md-12">
              <p>
                <b>User:</b> {{ note.user }}
                <br/>
                <b>Time:</b> {{ note.ctime | date:'yyyy-MM-dd HH:mm:ss Z' }}
                <br/>
                <b>Notes:</b>
                <br/>
                {{ note.text }}
              </p>
            </div>
          </div>
        </div>

        <!-- Notes -->
        <div class="list-group-item-container container-fluid hidden">
          <div class="close">
            <span class="pficon pficon-close"></span>
          </div>

          <!-- notes from users -->
          <div class="row" ng-repeat="note in alertItem.notes">
            <div class="col-md-12">
              <p>
                <b>User:</b> {{ note.user }}
                <br/>
                <b>Time:</b> {{ note.ctime | date:'yyyy-MM-dd HH:mm:ss Z' }}
                <br/>
                <b>Notes:</b>
                <br/>
                {{ note.text }}
              </p>
            </div>
          </div>
        </div>

        <!-- Tags -->
        <div class="list-group-item-container container-fluid hidden">
          <div class="close">
            <span class="pficon pficon-close"></span>
          </div>
          <div class="row">
            <div class="col-md-12">
              <dl class="dl-horizontal">
                <dt ng-repeat-start="tag in alertItem.tags">{{tag.key}}:</dt>
                <dd ng-repeat-end>{{tag.value}}</dd>
              </dl>
            </div>
          </div>
        </div>

        <!-- Lifecycle -->
        <div class="list-group-item-container container-fluid hidden">
          <div class="close">
            <span class="pficon pficon-close"></span>
          </div>

          <div class="row" ng-repeat="lc in alertItem.lifecycle">
            <div class="col-md-12">
              <p>
                <b>User:</b> {{ lc.user }}
                <br/>
                <b>Time:</b> {{ lc.stime | date:'yyyy-MM-dd HH:mm:ss Z' }}
                <br/>
                <b>Status:</b> {{ lc.status }}
              </p>
            </div>
          </div>

        </div>

        <!-- Condition Evals -->
        <div class="list-group-item-container container-fluid hidden">
          <div class="close">
            <span class="pficon pficon-close"></span>
          </div>
          <div class="row" ng-repeat="evs in alertItem.evalSets">
            <div class="col-md-12" ng-repeat="ev in evs">
              <p>
                <b>Time:</b> {{ ev.evalTimestamp | date:'yyyy-MM-dd HH:mm:ss Z' }}
                <br/>
                <b>Type:</b> {{ ev.type }}
                <br/>
                <b>Context:</b> {{ ev.context }}
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- small screen content when no tenant is entered -->

  <div class="row row-cards-pf" ng-show="selectedTenant == null || selectedTenant == ''">
    <div class="col-md-12">
      <div class="card-pf">
        <div class="card-pf-heading">
          <p class="card-pf-heading-details"></p>
          <h2 class="card-pf-title">Select a Tenant</h2>
        </div>
        <div class="card-pf-body">Use the upper right form to select a tenant which fetch data from Hawkular Alerting.</div>
      </div>
    </div>
  </div>

</div>
<!-- /container -->
<script>
  // Initialize Boostrap-datepicker
  $('#start').datepicker({
    format: 'yyyy-mm-dd', // required to be declared like this
    autoclose: true,
    todayBtn: 'linked',
    todayHighlight: true
  });
  $('#end').datepicker({
    format: 'yyyy-mm-dd', // required to be declared like this
    autoclose: true,
    todayBtn: 'linked',
    todayHighlight: true
  });
</script>