# Mobile Tools for Java (J2ME)
.mtj.tmp/

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# maven target directories
target/

# IntelliJ
.idea
*.iml

# Eclipse
.project
.classpath
.settings

# KDE
.directory

hawkular-alerts-ui/src/main/ui/node_modules
hawkular-alerts-ui/src/main/ui/bower_components
hawkular-alerts-ui/src/main/ui/.sass-cache
hawkular-alerts-ui/src/main/ui/dist
hawkular-alerts-ui/src/main/ui/index.html
hawkular-alerts-ui/src/main/ui/src/templates/appModuleTemplates.js
hawkular-alerts-ui/src/main/ui/package-lock.json

