<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="warn" shutdownHook="disable">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{} - %msg%n"/>
        </Console>
    </Appenders>
    <Loggers>
        <Logger name="com.datastax.driver" level="warn" />
        <Logger name="com.thinkaurelius" level="warn" />
        <Logger name="io.netty" level="warn" />
        <Logger name="org.apache.cassandra" level="warn" />
        <Logger name="org.drools" level="warn" />
        <Logger name="org.hawkular" level="info" />
        <Logger name="org.infinispan" level="warn" />
        <Logger name="org.jboss" level="warn" />
        <Root level="debug">
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>
</Configuration>