
<div class="container-fluid container-cards-pf" ng-controller="hwk.dashboardController">
  <div class="row row-cards-pf" ng-if="selectedTenant != null && selectedTenant != ''">
    <!-- Important:  if you need to nest additional .row within a .row.row-cards-pf, do *not* use .row-cards-pf on the nested .row  -->
    <div class="col-sm-6 col-md-3">
      <div class="card-pf card-pf-accented card-pf-aggregate-status card-pf-aggregate-status-mini">
        <h2 class="card-pf-title">
          <span class="pficon pficon-error-circle-o"></span>
          <a href="#">
            <span class="card-pf-aggregate-status-count">{{ openAlerts.length }}</span>Open Alerts
          </a>
        </h2>
      </div>
    </div>
    <div class="col-sm-6 col-md-3">
      <div class="card-pf card-pf-accented card-pf-aggregate-status card-pf-aggregate-status-mini">
        <h2 class="card-pf-title">
          <span class="pficon pficon-warning-triangle-o"></span>
          <a href="#">
            <span class="card-pf-aggregate-status-count">{{ acknowledgedAlerts.length }}</span>Acknowledged Alerts
          </a>
        </h2>
      </div>
    </div>
    <div class="col-sm-6 col-md-3">
      <div class="card-pf card-pf-accented card-pf-aggregate-status card-pf-aggregate-status-mini">
        <h2 class="card-pf-title">
          <span class="pficon pficon-ok"></span>
          <a href="#">
            <span class="card-pf-aggregate-status-count">{{ resolvedAlerts.length }}</span>Resolved Alerts
          </a>
        </h2>
      </div>
    </div>
    <div class="col-sm-6 col-md-3">
      <div class="card-pf card-pf-accented card-pf-aggregate-status card-pf-aggregate-status-mini">
        <h2 class="card-pf-title">
          <span class="pficon pficon-topology"></span>
          <a href="#">
            <span class="card-pf-aggregate-status-count">{{ events.length }}</span> Events
          </a>
        </h2>
      </div>
    </div>
  </div>
  <div class="row row-cards-pf" ng-if="selectedTenant != null && selectedTenant != ''">
    <!-- Important:  if you need to nest additional .row within a .row.row-cards-pf, do *not* use .row-cards-pf on the nested .row  -->
    <div class="col-md-12">
      <div class="card-pf">
        <div class="row">
          <div id="pf-timeline"></div>
        </div>
        <div class="row toolbar-pf">
          <div class="col-sm-12">
            <form class="toolbar-pf-actions">
              <div class="toolbar-pf-action-right">
                <div class="form-group toolbar-pf-view-selector">
                  <button class="btn btn-link" ng-show="refresh" ng-click="updateRefresh()"><div class="spinner spinner-sm"></div></button>
                  <button class="btn btn-link" ng-show="!refresh" ng-click="updateRefresh()"><span class="fa fa-refresh"></span></button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div><!-- /row -->
  <div class="row row-cards-pf" ng-if="selectedTenant != null && selectedtenant != '' && timelineEvents != null" ng-repeat="eventSelected in timelineEvents">
    <!-- Important:  if you need to nest additional .row within a .row.row-cards-pf, do *not* use .row-cards-pf on the nested .row  -->
    <div class="col-md-12">
      <div class="card-pf">
        <div class="card-pf-heading">
          <p class="card-pf-heading-details"></p>
          <h2 class="card-pf-title">
            {{ eventSelected.eventType }} on
            <span ng-if="eventSelected.eventType == 'ALERT'">{{ eventSelected.trigger.name }}</span>
            <span ng-if="eventSelected.eventType == 'EVENT'">{{ eventSelected.category }}</span>
            <span class="pull-right" ng-if="eventSelected.eventType == 'ALERT'">{{ eventSelected.lifecycle[eventSelected.lifecycle.length -1].stime | date:'yyyy-MM-dd HH:mm:ss Z'}}</span>
            <span class="pull-right" ng-if="eventSelected.eventType == 'EVENT'">{{ eventSelected.ctime | date:'yyyy-MM-dd HH:mm:ss Z'}}</span>
          </h2>
        </div>
        <div class="card-pf-body">
          <div class="row" ng-if="eventSelected.eventType == 'EVENT'">
            <div class="col-md-6">{{ eventSelected.text }}</div>
            <div class="col-md-3">
              <dl class="dl-horizontal" ng-show="eventSelected.tags != null">
                <dt>Tags</dt>
                <dd></dd>
                <dt ng-repeat-start="(key, value) in eventSelected.tags">{{ key }}</dt>
                <dd ng-repeat-end>{{ value }}</dd>
              </dl>
            </div>
            <div class="col-md-3">
              <dl class="dl-horizontal" ng-show="eventSelected.context != null">
                <dt>Context</dt>
                <dd></dd>
                <dt ng-repeat-start="(key, value) in eventSelected.context">{{ key }}</dt>
                <dd ng-repeat-end>{{ value }}</dd>
              </dl>
            </div>
          </div>
          <div class="row">
            <div class="col-md-{{ 12 / eventSelected.eventSections }}" ng-if="eventSelected.evalSets != null">
              <h3>
                Eval Sets
              </h3>
              <div class="list-group list-view-pf list-view-pf-view">
                <div class="list-group-item" ng-repeat="evalSet in eventSelected.evalSets">
                  <div class="list-group-item-header">
                    <div class="list-view-pf-main-info">
                      <div class="list-view-pf-left">
                        <span class="fa fa-map-marker list-view-pf-icon-sm"></span>
                      </div>
                      <div class="list-view-pf-body">
                        <div class="list-view-pf-description">
                          <div class="list-group-item-text">
                            <div class="list-group list-view-pf list-view-pf-view">
                              <div class="list-group-item list-view-pf-stacked" ng-repeat="eval in evalSet">
                                <div class="list-view-pf-main-info">
                                  <div class="list-view-pf-description">
                                    <div ng-if="eval.condition.type == 'THRESHOLD'">
                                      {{ eval.condition.dataId }} [ {{ eval.value }} ] {{ eval.condition.operator }} {{ eval.condition.threshold }}
                                    </div>
                                    <div ng-if="eval.condition.type == 'AVAILABILITY'">
                                      {{ eval.condition.dataId }} [ {{ eval.value }} ] is {{ eval.condition.operator }}
                                    </div>
                                    <div ng-if="eval.condition.type == 'EVENT'">
                                      {{ eval.condition.dataId }} matches [ {{ eval.condition.expression }} ]
                                      <dl class="dl-horizontal eval-set">
                                        <dt>Event</dt>
                                        <dd></dd>
                                        <dt>category</dt>
                                        <dd>{{ eval.value.category }}</dd>
                                        <dt>text</dt>
                                        <dd>{{ eval.value.text}}</dd>
                                        <dt ng-if="eval.value.tags != null">Tags</dt>
                                        <dd ng-if="eval.value.tags != null"></dd>
                                        <dt ng-if="eval.value.tags != null" ng-repeat-start="(key, value) in eval.value.tags">{{ key }}</dt>
                                        <dd ng-if="eval.value.tags != null" ng-repeat-end>{{ value }}</dd>
                                        <dt ng-if="eval.value.context != null">Context</dt>
                                        <dd ng-if="eval.value.context != null"></dd>
                                        <dt ng-if="eval.value.context != null" ng-repeat-start="(key, value) in eval.value.context">{{ key }}</dt>
                                        <dd ng-if="eval.value.context != null" ng-repeat-end>{{ value }}</dd>
                                      </dl>
                                    </div>
                                    <div ng-if="eval.condition.type == 'EXTERNAL'">
                                      {{ eval.condition.dataId }} matches [ {{ eval.condition.expression }} ]
                                      <hr />
                                      <dl class="dl-horizontal eval-set" ng-repeat="evalSetEvent in eval.context.parsed">
                                        <dt>Event</dt>
                                        <dd></dd>
                                        <dt>category</dt>
                                        <dd>{{ evalSetEvent.category }}</dd>
                                        <dt>text</dt>
                                        <dd>{{ evalSetEvent.text}}</dd>
                                        <dt ng-if="evalSetEvent.tags != null">Tags</dt>
                                        <dd ng-if="evalSetEvent.tags != null"></dd>
                                        <dt ng-if="evalSetEvent.tags != null" ng-repeat-start="(key, value) in evalSetEvent.tags">{{ key }}</dt>
                                        <dd ng-if="evalSetEvent.tags != null" ng-repeat-end>{{ value }}</dd>
                                        <dt ng-if="evalSetEvent.context != null">Context</dt>
                                        <dd ng-if="evalSetEvent.context != null"></dd>
                                        <dt ng-if="evalSetEvent.context != null" ng-repeat-start="(key, value) in evalSetEvent.context">{{ key }}</dt>
                                        <dd ng-if="evalSetEvent.context != null" ng-repeat-end>{{ value }}</dd>
                                      </dl>
                                    </div>
                                    <small>{{ eval.evalTimestamp | date:'yyyy-MM-dd HH:mm:ss Z' }}</small>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>

                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-{{ 12 / eventSelected.eventSections }}" ng-if="eventSelected.resolvedEvalSets != null">
              <h3>
                Resolved Eval Sets
              </h3>
              <div class="list-group list-view-pf list-view-pf-view">
                <div class="list-group-item" ng-repeat="evalSet in eventSelected.resolvedEvalSets">
                  <div class="list-group-item-header">
                    <div class="list-view-pf-main-info">
                      <div class="list-view-pf-left">
                        <span class="fa fa-check list-view-pf-icon-sm"></span>
                      </div>
                      <div class="list-view-pf-body">
                        <div class="list-view-pf-description">
                          <div class="list-group-item-text">
                            <div class="list-group list-view-pf list-view-pf-view">
                              <div class="list-group-item list-view-pf-stacked" ng-repeat="eval in evalSet">
                                <div class="list-view-pf-main-info">
                                  <div class="list-view-pf-description">
                                    <div ng-if="eval.condition.type == 'THRESHOLD'">
                                      {{ eval.condition.dataId }} [ {{ eval.value }} ] {{ eval.condition.operator }} {{ eval.condition.threshold }}
                                    </div>
                                    <div ng-if="eval.condition.type == 'AVAILABILITY'">
                                      {{ eval.condition.dataId }} [ {{ eval.value }} ] is {{ eval.condition.operator }}
                                    </div>
                                    <div ng-if="eval.condition.type == 'EVENT'">
                                      {{ eval.condition.dataId }} matches [ {{ eval.condition.expression }} ]
                                      <dl class="dl-horizontal eval-set">
                                        <dt>Event</dt>
                                        <dd></dd>
                                        <dt>category</dt>
                                        <dd>{{ eval.value.category }}</dd>
                                        <dt>text</dt>
                                        <dd>{{ eval.value.text}}</dd>
                                        <dt ng-show="eval.value.tags != null">Tags</dt>
                                        <dd ng-show="eval.value.tags != null"></dd>
                                        <dt ng-show="eval.value.tags != null" ng-repeat-start="(key, value) in eval.value.tags">{{ key }}</dt>
                                        <dd ng-show="eval.value.tags != null" ng-repeat-end>{{ value }}</dd>
                                        <dt ng-show="eval.value.context != null">Context</dt>
                                        <dd ng-show="eval.value.context != null"></dd>
                                        <dt ng-show="eval.value.context != null" ng-repeat-start="(key, value) in eval.value.context">{{ key }}</dt>
                                        <dd ng-show="eval.value.context != null" ng-repeat-end>{{ value }}</dd>
                                      </dl>
                                    </div>
                                    <div ng-if="eval.condition.type == 'EXTERNAL'">
                                      {{ eval.condition.dataId }} matches [ {{ eval.condition.expression }} ]
                                      <hr />
                                      <dl class="dl-horizontal eval-set" ng-repeat="evalSetEvent in eval.context.parsed">
                                        <dt>Event</dt>
                                        <dd></dd>
                                        <dt>category</dt>
                                        <dd>{{ evalSetEvent.category }}</dd>
                                        <dt>text</dt>
                                        <dd>{{ evalSetEvent.text}}</dd>
                                        <dt ng-if="evalSetEvent.tags != null">Tags</dt>
                                        <dd ng-if="evalSetEvent.tags != null"></dd>
                                        <dt ng-if="evalSetEvent.tags != null" ng-repeat-start="(key, value) in evalSetEvent.tags">{{ key }}</dt>
                                        <dd ng-if="evalSetEvent.tags != null" ng-repeat-end>{{ value }}</dd>
                                        <dt ng-if="evalSetEvent.context != null">Context</dt>
                                        <dd ng-if="evalSetEvent.context != null"></dd>
                                        <dt ng-if="evalSetEvent.context != null" ng-repeat-start="(key, value) in evalSetEvent.context">{{ key }}</dt>
                                        <dd ng-if="evalSetEvent.context != null" ng-repeat-end>{{ value }}</dd>
                                      </dl>
                                    </div>
                                    <small>{{ eval.evalTimestamp | date:'yyyy-MM-dd HH:mm:ss Z' }}</small>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-{{ 12 / eventSelected.eventSections }}" ng-if="eventSelected.lifecycle != null" >
              <h3>
                Lifecycle
              </h3>
              <div class="list-group list-view-pf list-view-pf-view">
                <div class="list-group-item" ng-repeat="cycle in eventSelected.lifecycle">
                  <div class="list-group-item-header">
                    <div class="list-view-pf-main-info">
                      <div class="list-view-pf-left">
                        <span ng-show="cycle.status == 'OPEN'" class="pficon pficon-error-circle-o"></span>
                        <span ng-show="cycle.status == 'ACKNOWLEDGED'" class="pficon pficon-warning-triangle-o"></span>
                        <span ng-show="cycle.status == 'RESOLVED'" class="pficon pficon-ok"></span>
                      </div>
                      <div class="list-view-pf-body">
                        <div class="list-view-pf-description">
                          <div class="list-group-item-text">
                            <span class="pf pficon-user"></span> {{ cycle.user }}
                            <span class="pull-right"><small>{{ cycle.stime | date:'yyyy-MM-dd HH:mm:ss Z' }}</small></span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div><!-- /row -->
  <div class="row row-cards-pf" ng-show="selectedTenant == null || selectedTenant == ''">
    <div class="col-md-12">
      <div class="card-pf">
        <div class="card-pf-heading">
          <p class="card-pf-heading-details"></p>
          <h2 class="card-pf-title">
            Select a Tenant
          </h2>
        </div>
        <div class="card-pf-body">
          Use the upper right form to select a tenant which fetch data from Hawkular Alerting.
        </div>
      </div>
    </div>
  </div>
</div><!-- /container -->
