
<div class="container-fluid container-cards-pf" ng-controller="hwk.dashboardController">
  <div class="row row-cards-pf" ng-show="selectedTenant != null && selectedTenant != ''">
    <!-- Important:  if you need to nest additional .row within a .row.row-cards-pf, do *not* use .row-cards-pf on the nested .row  -->
    <div class="col-sm-6 col-md-3">
      <div class="card-pf card-pf-accented card-pf-aggregate-status card-pf-aggregate-status-mini">
        <h2 class="card-pf-title">
          <span class="pficon pficon-error-circle-o"></span>
          <a href="#">
            <span class="card-pf-aggregate-status-count">{{ openAlerts.length }}</span>Open Alerts
          </a>
        </h2>
      </div>
    </div>
    <div class="col-sm-6 col-md-3">
      <div class="card-pf card-pf-accented card-pf-aggregate-status card-pf-aggregate-status-mini">
        <h2 class="card-pf-title">
          <span class="pficon pficon-warning-triangle-o"></span>
          <a href="#">
            <span class="card-pf-aggregate-status-count">{{ acknowledgedAlerts.length }}</span>Acknowledged Alerts
          </a>
        </h2>
      </div>
    </div>
    <div class="col-sm-6 col-md-3">
      <div class="card-pf card-pf-accented card-pf-aggregate-status card-pf-aggregate-status-mini">
        <h2 class="card-pf-title">
          <span class="pficon pficon-ok"></span>
          <a href="#">
            <span class="card-pf-aggregate-status-count">{{ resolvedAlerts.length }}</span>Resolved Alerts
          </a>
        </h2>
      </div>
    </div>
    <div class="col-sm-6 col-md-3">
      <div class="card-pf card-pf-accented card-pf-aggregate-status card-pf-aggregate-status-mini">
        <h2 class="card-pf-title">
          <span class="pficon pficon-topology"></span>
          <a href="#">
            <span class="card-pf-aggregate-status-count">{{ events.length }}</span> Events
          </a>
        </h2>
      </div>
    </div>
  </div>
  <div class="row row-cards-pf" ng-show="selectedTenant != null && selectedTenant != ''">
    <!-- Important:  if you need to nest additional .row within a .row.row-cards-pf, do *not* use .row-cards-pf on the nested .row  -->
    <div class="col-md-12">
      <div class="card-pf">
        <div class="row">
          <div id="pf-timeline"></div>
        </div>
        <div class="row toolbar-pf">
          <div class="col-sm-12">
            <form class="toolbar-pf-actions">
              <div class="toolbar-pf-action-right">
                <div class="form-group toolbar-pf-view-selector">
                  <button class="btn btn-link" ng-show="refresh" ng-click="updateRefresh()"><div class="spinner spinner-sm"></div></button>
                  <button class="btn btn-link" ng-show="!refresh" ng-click="updateRefresh()"><span class="fa fa-refresh"></span></button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div><!-- /row -->
  <div class="row row-cards-pf" ng-show="selectedTenant != null && selectedtenant != '' && eventTimeline != null">
    <!-- Important:  if you need to nest additional .row within a .row.row-cards-pf, do *not* use .row-cards-pf on the nested .row  -->
    <div class="col-md-12">
      <div class="card-pf">
        <div class="card-pf-heading">
          <p class="card-pf-heading-details"></p>
          <h2 class="card-pf-title">
            {{ eventTimeline.details.eventType }} on {{ eventTimeline.details.trigger.name }}
            at {{ eventTimeline.details.lifecycle[eventTimeline.details.lifecycle.length -1].stime | date:'yyyy-MM-dd HH:mm:ss Z'}}
          </h2>
        </div>
        <div class="card-pf-body">
          <div class="row">
            <div class="col-md-6">
              <div class="list-group list-view-pf list-view-pf-view">
                <div class="list-group-item" ng-repeat="evalSet in eventTimeline.details.evalSets">
                  <div class="list-group-item-header">
                    <div class="list-view-pf-main-info">
                      <div class="list-view-pf-left">
                        <span class="fa fa-clock-o list-view-pf-icon-sm"></span>
                      </div>
                      <div class="list-view-pf-body">
                        <div class="list-view-pf-description">
                          <div class="list-group-item-text">
                            <div ng-repeat="eval in evalSet">
                              <div ng-show="eval.condition.type == 'THRESHOLD'">
                                {{ eval.condition.dataId }} [ {{ eval.value }} ] {{ eval.condition.operator }} {{ eval.condition.threshold }}
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="list-group list-view-pf list-view-pf-view">
                <div class="list-group-item" ng-repeat="cycle in eventTimeline.details.lifecycle">
                  <div class="list-group-item-header">
                    <div class="list-view-pf-main-info">
                      <div class="list-view-pf-left">
                        <span ng-show="cycle.status == 'OPEN'" class="pficon pficon-error-circle-o"></span>
                        <span ng-show="cycle.status == 'ACKNOWLEDGED'" class="pficon pficon-warning-triangle-o"></span>
                        <span ng-show="cycle.status == 'RESOLVED'" class="pficon pficon-ok"></span>
                      </div>
                      <div class="list-view-pf-body">
                        <div class="list-view-pf-description">
                          <div class="list-group-item-text">
                            <span class="pf pficon-user"></span> {{ cycle.user }}
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div><!-- /row -->
  <div class="row row-cards-pf" ng-show="selectedTenant == null || selectedTenant == ''">
    <div class="col-md-12">
      <div class="card-pf">
        <div class="card-pf-heading">
          <p class="card-pf-heading-details"></p>
          <h2 class="card-pf-title">
            Select a Tenant
          </h2>
        </div>
        <div class="card-pf-body">
          Use the upper right form to select a tenant which fetch data from Hawkular Alerting.
        </div>
      </div>
    </div>
  </div>
</div><!-- /container -->
